#gradeGame{
	background-image: url("../images/background.png");
	z-index:9000;
	/*min-width: 50%;
	min-height: 50%;*/
	/*max-width: 90%;
	max-height: 90% !important; */
	background-repeat: no-repeat;
    background-position: left top;
    /*background-attachment: fixed;*/
    background-size: 100% 100%;
}

#gradeGame td:hover{
	border: 1px solid yellow;
}
tr,td{
    border: 1px solid black;
    margin:0px 0px 0px 0px !important;
    padding:0px 0px 0px 0px !important;
}
#botaoProximo{
	display: none;
}
td{
	width: 42px;
	height: 42px;
	margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-position: left top;
    /*background-attachment: fixed;*/
    background-size: 42px 42px;
}
.canoTabuleiro{
	width: 42px;
	height: 42px;
}
#menuJogo{
	position: absolute;
	top:0%;
	left: 0%;
	margin-left: 20px;
}
#incanador{
	z-index:9000;
	position: absolute;
	left: 70px;
	top: 0px;
	height: 400px;
	width: 300px;

}
.tipoCano{
	height: 64px;
	width: 64px;
	/*float: left;*/
	border: 1px solid black;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-position: left top;
    /*background-attachment: fixed;*/
    background-size: 64px 64px;

}
#canos{
	margin-top: 70px;
}
#divPontuacao{
	float: left;
	padding: 5px;
	background-color: #11f981;
	border: 1px solid black;
	border-radius: 25px;
}
.tipoCano:hover{
	border: 1px solid yellow;
}
.contador{
	background: rgba(0, 0, 0, 0.7);
	color: white;

}

#CanoHorizontal{
	background-image: url("../images/horizontal.png");
}
#CanoVertical{
	background-image: url("../images/vertical.png");
}
#CanoEsquerdaCima{
	background-image: url("../images/esquerdaCima.png");
}
#CanoEsquerdaBaixo{
	background-image: url("../images/esquerdaBaixo.png");
}
#CanoDireitaCima{
	background-image: url("../images/direitaCima.png");
}
#CanoDireitaBaixo{
	background-image: url("../images/direitaBaixo.png");
}
#consertar{
	background-image: url("../images/consertar.png");
}
#prender{
	background-image: url("../images/prender.png");
}
#mostradores{
	position: absolute;
	top: 0%;
	right: 0%;
}
#caixa{
	position: absolute;
	right: 0%;
	/*bottom: 0%;*/
	height: 400px;
	width: 300px;
	z-index: 1000;
}
#agua{
	background-color: #217882;
	z-index: 1;
	position: absolute;
	margin-top:35px;
	margin-right: 25px;
	right: 0%;
	top:0%;
	height: 315px;
	width: 250px;
	text-align: center;
	color: black;
}
#timerPanel{
	position: absolute;
	right: 0%;
	top:0%;
	margin-top:400px;
	margin-right: 25px;
	text-align: center;
	width: 250px;
}
#botaoResetar{
	display: none;
}





#inicio{
	background-image: url("../images/telainicial.png");
	background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#menu{
	position: absolute;
	top: 40%;
	left:48%;
}
#play{
	background-color: #4cdfef;
	font-size: 48px;
	padding: 10px;
	border-radius: 24px;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}
#tutorial{
	background-color: #f9e31d;
	font-size: 30px;
	padding: 10px;
	border-radius: 24px;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}
#sobre{
	background-color: #202ffc;
	font-size: 30px;
	padding: 10px;
	border-radius: 24px;
	text-decoration: none;
	color: white;
}
#divTutorial{
	position: absolute;
	left: 0%;
	top: 0%;
}
.tutorialIM{
	height: 100%;
	width:100%;
}
#sobreContent{
	background-color: white;
	border-radius: 25px;
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
}
.itemMenu{
	margin-top: 50px;
}
.foto{
	width: 64px;
	height: 64px;
}
